<form name="loginForm" class="auth-form">
    <div class="alert alert-warning" ng-show="authReason">
        {{authReason}}
    </div>
    <div class="alert alert-error" ng-show="authError">
        {{authError}}
    </div>
    <input type="text" class="input-block-level" placeholder="Email address" ng-model="user.email">
    <input type="password" class="input-block-level" placeholder="Password" ng-model="user.password" required>
    <label class="checkbox">
        <input type="checkbox" value="remember-me"> Remember me
    </label><br/>
    <a class="btn btn-large btn-primary" type="submit" ng-click="login(user)" ng-disabled="loginForm.$invalid">Sign in</a>
</form>